/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
*.pdf

!/vendor/zizaco/entrust/src/Entrust/Middleware/*
*.xls
auth.json
public/document.tiff
public/out.txt
public/out2.txt
public/testoutput.tiff
public/tmp/import.xlsx
